
#contenedor{
    width: 100%;
    height: 100%;
    
  }
  #orders{
    width: 30%;
    height: 100%;
    
    background-color: #f8f2f1;
    float: right;
  }
  
  #marginorders{
    margin: auto;
    width: 80%;
  }
  
  #mainpage{
    width: 70%;
    height: 100%;
    background-color:white;
    float: left;
    
  }
  
  #cardtime { 
    overflow:auto; 
    height: 100px;
    margin: auto;
    color:white; 
    background-color: #6f34dd;
    border-radius: 15px;
    padding-top: 10%;
    font-size: 2vh;
  } 
  
  #left { 
    width: 45%; 
    margin:5px; 
    background-color: #6f34dd;
    padding-left: 15px;
  } 
  
  #right { 
    width: 35%;
    text-align: right; 
    margin:5px;
    padding-right: 15px;
    
    background-color: #6f34dd;
  } 
  #links{
    color: #ddbe34;
  }
  
  #left  { float:left;  }
  #right { float:right; } 
  
  .cartshop{
    margin-top: 35px;
    justify-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3vh;
    font-weight: 800;
    
  }
  
  .personIcon{
    
    width: 16px;
    margin-left: 68%;
  }
  .starIcon{
    width: 12px;
    margin-right: 4px;
    
  }
  
  .counter{
    background-color: rgb(243, 221, 24);
    border-radius: 5px;
    float: right;
    
    border: none;
    font-size: 11 px;
    width: 25px;
    height: 25px;
    justify-content: center;
    
  }
  
  .carproducts{
    margin-top: 30px;
    margin-bottom: 40px;
  }
  
  .productphoto{
    width: 40%;
    border-radius: 18px;
    margin-top: 7px;
    margin-right: 12px;
    
  }
  
  #marginMain{
    width: 90%;
    margin: auto;
    margin-top: 35px;
  }
  
  h5{
    font-size: 2.4vh;
    
  }
  .icon{
    width: 20px;
    position: relative;
  }
  
  #nameCompany{
    font-size: 22px;
    font-weight: 700;
    
  }
  
  .headerImg{
    width: 20%;
    margin-right: 40px;
    margin-left: 35px;
    
  }
  .partyIcon{
    width: 20px;
    margin-left: 5px;
  }
  
  .promo{
    background-color: rgb(253, 233, 228);
    border-radius: 20px;
    margin-bottom: 50px;
    margin-top: 30px;
    color: rgb(252, 116, 38);
    
    text-align: left;
  }
  
  .restaurants{
    margin-top: 35px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 750;
    font-size: 20px;
    width: 100%;
    margin-bottom: 40px;
    
  }
  
  
  .hamburguer{
    width: 25px;
    margin-left: 10px;
  }
  
  .joinbutton{
    background-color: rgb(231, 103, 18);
    border-radius: 15px;
    width: 36%;
    float: right;
    border: none;
    font-size: 70%;
    color: white;
    padding: 2px;
    text-align: center;
    justify-content: center;
    
  }
  .iconwatch{
    width: 18px;
    margin-right:19px;
    margin-bottom: 4px;
    filter: invert(100%);
  }
  
  .arrowdown{
    transform: rotate(90deg);
    width: 8%;
    margin-left: 12px;
    filter: invert(100%);
  }
  
  .categories{
    height: 36%;
    
  }
  
  .categorie{
    width: 8%;
    height: 90px;
    background: rgb(233, 193, 16);
    border-radius: 60px;
    text-align: center;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 800;
  }
  
  .iconCat{
    padding-top: 15px;
    width: 40%;
    margin: auto;
    background: white;
    border-radius: 50%;
  }
  
  .circle{
    background: white;
    border-radius: 50%;
    margin-top: 5px;
    height:45%;
    width: 75%;
    border-style: solid;
    border-width: 0.3pt;
  }
  
  .categoriem{
    width: 56px;
    height: 90px;
    background: rgb(255, 255, 255);
    border-radius: 60px;
    text-align: center;
    margin-right: 10px;
    font-size: 12px;
    font-weight: 800;
    float: left;
  }
  
  .categoriem:hover{
    background: rgb(233, 193, 16);
  }
  
  .buybutton{
    background-color: rgb(243, 221, 24);
    border-radius: 8px;
    float: right;
    border: none;
    font-size: 87%;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
    width: 55%;
  }

  .iconArrow{
    width: 6%;
  }

  .card-deck{
    width: 250px;
    height: 300px;
    float: left;
    padding: 9px;
    
  }

  .sizet{
    font-size: 14px;
    font-weight: 600;
  }

  .pricePr{
    font-size: 12px;
    float: right;
    font-weight: 900;
  }

  #bg-nested-dropdown{
    background: rgb(231, 103, 18);
    border-radius: 20px;
    border: 0px;
    width: 100px;
  }

  .buttonsSign{
    text-align: right;
  }
  .logbar{
    width: 100%;
  }
  .buttonadd{
    float: right;
  }

  .fontpromo{
    font-size: 2.2vw;
  }
  
  h2{
    font-size: 3vh;
    text-align: center;
  }
  .selectnumber{
    float: left;
  }


  @media only screen and (max-width: 700px) {

    .iconwatch {display: none;}
    .productphoto{width: 100%;padding-bottom: 6px;}
    h5{
      text-align: center;
    }
    #cardtime{width: 100%;}
    .personIcon{width: 16px;margin-left: 0;padding-bottom: 5px;}
    #right {text-align: left ;}
    
  }